:root {
  --primary: #e5b198;
  --secundary: #f70a38;
  --third: #140e12;
  --text: rgb(11, 21, 24);
  --background: #ffe4df
}

html {
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  background-image: linear-gradient(
    -225deg,
    var(--primary) 0%,
    var(--secundary) 52%,
    var(--third) 100%
  );
  min-height: 100%;
  padding-bottom: 5rem;
}
h1,
h2 {
  color: var(--text);
  padding: 1rem 0;
  text-align: center;

  text-transform: uppercase;

  font-family: 'Roboto Mono', monospace;
  letter-spacing: 1px;
}

h2 {
  font-size: 3rem;
  font-weight: bolder;
}

.lista-citas .media {
  border-bottom: 1px solid var(--text);
  padding-bottom: 3rem;
}

.lista-citas .media:last-of-type {
  border-bottom: 0;
}
.lista-citas .media-body p {
  margin: 0;
}
.lista-citas .media-body button {
  margin-top: 1rem !important;
}
.lista-citas .media-body span {
  font-weight: bold;
}

label {
  color: var(--text);
}

input[type="text"] {
  background-color: var(--background);
}

textarea {
  background-color: var(--background);
}

input[type="date"],
input[type="time"] {
  height: 38px;
  padding: 6px 10px;
  background-color: var(--background);
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

.cita {
  padding: 2rem;
  background: var(--background);
  border-bottom: 1px solid #e1e1e1;
  color: black;
  border: var(--third) solid 3px;
}

.cita p {
  font-weight: bold;
  margin-bottom: 0.8rem;
}
.cita p span {
  font-weight: normal;
}
.cita:first-of-type {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.cita:last-of-type {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.button {
  background: #140e12;
  background-color: var(--third);
  color: var(--secundary);
  border: var(--secundary) solid 3px;
  font-size: large;
  height: 50px;
}

.button:hover{
  background-color: var(--background);
  color: var(--third);
  border: var(--third) solid 3px;
}
.button.eliminar,
.button.eliminar:hover {
  background-color: var(--text);
  color: var(--background);
  margin-top: 2rem;
}

.alerta-error {
  background-color: var(--secundary);
  color: var(--third);
  border: var(--third) 3px solid;
  padding: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}

.image {
  width: 400px;
  display: flex;
  justify-content: center;
  margin: 30px auto;
}

@media (max-width: 360px){
  .image {
    width: 80%;
  }
}